/*==== || GOOGLE FONTS || ====*/
@import url("https://fonts.googleapis.com/css2?family=Playwrite+BE+VLG:wght@100..400&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
/*==== || BASIC RESET || ====*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  color: #212529;
  background-color: #fff;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
}
img {
  display: block;
  width: 100%;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
p {
  color: #3c3d3e;
  font-size: 1rem;
  line-height: 1.25; /*need to work on line hight before finishing the project*/
}
/*==== || GLOBAL STYLE || ====*/
.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.section-center {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}
.section-bg {
  background-color: #f2f2f2;
}
.section-pd {
  padding: 5rem 0;
}
.offscreen {
  display: none;
}
/*==== || SECTION HEADER || ====*/
.section-header {
  text-align: center;
  margin-bottom: 2.5rem;
}
.section-sub-title {
  display: block;
  color: #9e9e9e;
  font-size: 1rem;
  letter-spacing: 1.1px;
  text-transform: uppercase;
}
.section-title {
  font-size: 2rem;
  font-weight: 600;
  font-family: "Playwrite BE VLG", cursive;
}
.section-title span {
  color: #ce1212;
}
/*==== || NAVBAR || ====*/
#header {
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 30px;
  position: absolute;
  width: 100%;
}
.nav {
  height: 80px;
  justify-content: space-between;
}
.logo {
  color: #212529;
  font-size: 1.5rem;
  font-weight: 600;
  font-family: "Playwrite BE VLG", cursive;
}
.logo span {
  color: #ce1212;
}
.nav-links {
  gap: 2rem;
}
.nav-link {
  color: #3c3d3e;
  font-size: 1rem;
  font-weight: 500;
  position: relative;
}
.nav-link::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #ce1212;
  left: 0;
  bottom: -5px;
  transform-origin: left;
  transform: scaleX(0);
  transition: all 400ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.nav-link:hover {
  color: #010101;
}
.nav-link.active::before {
  color: #010101;
  transform: scaleX(1);
}
.nav-link.active {
  color: #010101;
}
.nav-link:hover::before {
  transform: scaleX(1);
}
.btn-container {
  gap: 1rem;
}
.nav-btn,
.btn {
  color: #fff;
  display: inline-block;
  font-size: 1rem;
  font-weight: 500;
  text-transform: capitalize;
  letter-spacing: 0.5px;
  padding: 0.75em 1.5em;
  border-radius: 2em;
  background-color: #ce1212;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 30px;
}
.nav-toggle {
  width: 30px;
  height: 30px;
  cursor: pointer;
  display: none;
}
.nav-toggle span,
.nav-toggle span::before,
.nav-toggle span::after {
  display: block;
  width: 28px;
  height: 2px;
  border-radius: 5px;
  background-color: black;
  position: relative;
}
.nav-toggle span::before,
.nav-toggle span::after {
  content: "";
  position: absolute;
  transition: all 400ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.nav-toggle span::before {
  top: -8px;
}
.nav-toggle span::after {
  top: 8px;
}
.nav-toggle.close span {
  visibility: hidden;
}
.nav-toggle.close span::before,
.nav-toggle.close span::after {
  visibility: visible;
  transform: translateY(8px) rotate(45deg);
}
.nav-toggle.close span::after {
  transform: translateY(-8px) rotate(-45deg);
}
@media screen and (max-width: 992px) {
  .nav-links-container {
    position: absolute;
    background-color: #fff;
    width: 400px;
    height: calc(100vh - 80px);
    top: 100%;
    right: 0;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 30px;
    transform-origin: right;
    transform: scaleX(0);
    transition: all 400ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  }
  .nav-links {
    all: unset;
    list-style-type: none;
  }
  .nav-links li {
    padding: 0.875rem 1.25rem;
    border-bottom: 1px solid #d0d0d0;
  }
  .nav-links .nav-link::before {
    display: none;
  }
  .show-links {
    transform: scaleX(1);
  }
  .nav-toggle {
    display: flex;
  }
}
@media screen and (max-width: 768px) {
  .nav-btn {
    display: none;
  }
}
@media screen and (max-width: 548px) {
  .nav-links-container {
    width: 100%;
  }
}
/*==== || HERO SECTION || ====*/
#hero {
  height: 100vh;
}
.hero-wrapper {
  align-items: center;
  padding-top: 80px;
  gap: 5rem;
}
.hero-content {
  flex: 1;
  align-items: normal;
  flex-direction: column;
}
.hero-showcase {
  flex: 1;
  justify-content: flex-end;
}
.hero-showcase img {
  width: 80%;
}
.title {
  color: #010101;
  font-size: 2.25rem;
  font-family: "Playwrite BE VLG", cursive;
  font-weight: 600;
  line-height: 1.75;
  margin-bottom: 1rem;
}
.hero-desc {
  margin-bottom: 1.5rem;
  width: 80%;
}
#hero .btn-container {
  justify-content: flex-start;
}
@media screen and (max-width: 992px) {
  #hero {
    height: auto;
  }
  .hero-wrapper {
    flex-direction: column;
    padding-top: 7.5rem;
    gap: 3.25rem;
  }
  .hero-content,
  .hero-showcase,
  .hero-content p {
    width: 100%;
    text-align: center;
    justify-content: center;
  }
  .hero-content p {
    width: 70%;
    margin: 1rem auto 2rem auto;
  }
  .hero-text {
    order: 1;
  }
  .btn-container {
    justify-content: center;
  }
}
@media screen and (max-width: 768px) {
  .title {
    font-size: 2rem;
  }
  .hero-wrapper {
    flex-direction: column;
    padding-top: 7.5rem;
    gap: 3.25rem;
  }
  .hero-content p {
    width: 90%;
  }
  .btn-container {
    justify-content: center;
  }
}
/*==== || ABOUT SECTION || ====*/
#about {
  background: linear-gradient(
    90deg,
    rgb(250, 226, 222) 35%,
    rgb(244, 245, 245) 100%
  );
}
.about-wrapper {
  gap: 2rem;
  align-items: normal;
}
.about-cta {
  flex: 7;
  background-color: #ce1212;
  background-image: url(/images/about-1.jpg);
  background-size: cover;
  position: relative;
}
.about-content {
  flex: 5;
}
.about-cta-num {
  width: 70%;
  background-color: #fff;
  padding: 3rem 0;
  text-align: center;
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translateX(-50%);
}
.about-cta-num span {
  display: block;
  color: #212529;
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 1.1px;
  margin-bottom: 0.5rem;
}
.about-cta-num span:last-child {
  color: #ce1212;
  font-size: 2.5rem;
  margin-bottom: 0;
}
#about p {
  margin-bottom: 1.5rem;
}
#about ul li {
  color: #3c3d3e;
  line-height: 1.2;
  margin-bottom: 0.625rem;
  padding-left: 1.25rem;
  position: relative;
}
#about ul li::before {
  font-family: "Font Awesome 5 Free";
  content: "\f058";
  display: inline-block;
  padding-right: 3px;
  font-weight: 900;
  color: #ce1212;
  font-size: 1rem;
  position: absolute;
  left: 0;
  top: 2px;
}
.about-video-img {
  position: relative;
}
.about-video-img img {
  max-height: 300px;
  object-fit: cover;
}
@media (max-width: 992px) {
  #about .about-wrapper {
    flex-direction: column;
  }
  .about-cta {
    min-height: 400px;
  }
}
@media screen and (max-width: 768px) {
  .about-cta {
    height: 300px;
  }
  .about-cta-num {
    bottom: 20px;
    padding: 1rem;
  }
  .about-cta-num span {
    font-size: 1.25rem;
  }
  .about-cta-num span:last-child {
    font-size: 1.75rem;
  }
}
@media screen and (max-width: 548px) {
  .about-cta-num {
    width: 90%;
  }
  .call-us span {
    font-size: 1.15rem;
  }
  .call-us span:last-child {
    font-size: 1.5rem;
  }
}
/*==== || STATS || ====*/
#stats {
  padding: 6.25rem 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/about-2.jpeg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}
#stats .section-center {
  grid-template-columns: repeat(4, 1fr);
}
.stat {
  text-align: center;
}
.stat-count {
  color: #fff;
  font-size: 4rem;
  font-weight: 600;
}
h5 {
  color: #9e9e9e;
  font-size: 1.1rem;
  font-weight: 600;
  letter-spacing: 1.1px;
}
@media (max-width: 992px) {
  #stats .section-center {
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
  }
}
@media (max-width: 768px) {
  #stats .section-center {
    grid-template-columns: 1fr;
  }
  .stat-num {
    font-size: 3rem;
  }
}
/*==== || MENU || ====*/
.menu-header {
  text-align: center;
  margin-bottom: 1rem;
}
.filter-btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 1rem;
}
.filter-btn {
  color: #3c3d3e;
  font-size: 1.1rem;
  background-color: transparent;
  border: none;
  outline: none;
  border-bottom: 2px solid #3c3d3e;
  padding: 0.5rem;
}
.filter-btn.active,
.filter-btn:hover {
  color: #ce1212;
  border-color: #ce1212;
}
.menu-items {
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem 1rem;
}
.menu-item {
  text-align: center;
}
.menu-item img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  margin: auto;
  margin-bottom: 10px;
}
.menu-item h5 {
  color: #212529;
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 5px;
}
.menu-item-ingredients {
  color: #3c3d3e;
  font-size: 14px;
  margin-bottom: 0.5rem;
}
.menu-item-price {
  color: #ce1212;
  font-size: 1.5rem;
  font-weight: 600;
}
@media (max-width: 992px) {
  .menu-items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem 2rem;
  }
}
@media (max-width: 768px) {
  .menu-items {
    display: grid;
    grid-template-columns: 1fr;
    gap: 3rem 2rem;
  }
}
/*==== || TESTIMONIALS || ====*/
.testimonials {
  background-color: #f2f2f2;
  padding: 2.5rem 0;
}
.testimonial-slider {
  position: relative;
  height: 80vh;
  overflow: hidden;
}
.testimonial-slide {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.slider-btn {
  color: #545353;
  font-size: 1.5rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background-color: rgba(0, 0, 0, 0.2);
  height: 50px;
  width: 50px;
  border-radius: 50%;
  transition: all 300ms ease;
}
.slider-btn-prev {
  left: 0;
}
.slider-btn-next {
  right: 0;
}
.slider-btn:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
.testimonial-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.testimonial-img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}
.testimonial-item p {
  width: 75%;
  margin: auto;
  color: #545353;
}
.testimonial-item h3 {
  color: #545353;
  font-size: 1.25rem;
  font-weight: 900;
}
.testimonial-item .author-profile {
  display: block;
  color: #545353;
  font-size: 1rem;
  font-weight: 600;
}
.stars {
  font-size: 14px;
}
/*==== || EVENTS || ====*/
.event-cards {
  grid-template-columns: repeat(3, 1fr);
}
.card img {
  aspect-ratio: 5/6;
  object-fit: cover;
}
.event-card {
  position: relative;
}
.event-card-desc {
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.75);
  width: 100%;
  height: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.card-title {
  font-size: 1.45rem;
  margin-bottom: 0.25rem;
}
.price {
  margin-bottom: 0.25rem;
}
.event-card-desc p {
  color: #fff;
  font-size: 14px;
}

@media screen and (max-width: 992px) {
  .event-cards {
    grid-template-columns: 1fr;
  }
  .card img {
    max-height: 400px;
    aspect-ratio: 1/1;
    object-fit: cover;
  }
}
/*==== || CHEFS || ====*/
.chef-card {
  overflow: hidden;
  text-align: center;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
  transition: all 300ms ease;
}
.img-container {
  position: relative;
}
.img-container img {
  aspect-ratio: 5/4;
}
.chef-img::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background-size: contain;
  z-index: 1;
}
.social {
  color: rgb(100, 100, 100);
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  position: absolute;
  right: -100%;
  top: 30px;
  opacity: 0;
  border-radius: 4px;
  transition: 0.5s;
  background: rgba(255, 255, 255, 0.3);
  z-index: 2;
}
.social i {
  font-size: 18px;
  color: rgb(100, 100, 100);
  margin-bottom: 5px;
}
.chef-info {
  padding: 10px 15px 20px 15px;
}
.chef-info span {
  display: block;
  font-size: 14px;
  font-weight: 400;
  color: rgba(33, 37, 41, 0.4);
}
.chef-info p {
  color: rgba(33, 37, 41, 0.7);
  font-size: 14px;
  font-style: italic;
  padding-top: 15px;
  line-height: 26px;
  margin-top: 0;
  margin-bottom: 1rem;
}
.chef-card:hover .social {
  right: 5%;
  opacity: 1;
}
.chef-card:hover {
  transform: scale(1.05);
}
@media screen and (max-width: 992px) {
  .chef-cards {
    grid-template-columns: 1fr;
  }
}
