/*==== || GOOGLE FONTS || ====*/
@import url("https://fonts.googleapis.com/css2?family=Playwrite+BE+VLG:wght@100..400&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
/*==== || BASIC RESET || ====*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: #212529;
  background-color: #fff;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
}
img {
  display: block;
  width: 100%;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
/*==== || GLOBAL STYLE || ====*/
.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
/*==== || NAVBAR || ====*/
#header {
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 30px;
  position: absolute;
  width: 100%;
  position: relative;
}
.nav {
  height: 80px;
  justify-content: space-between;
}
.logo {
  color: #212529;
  font-size: 1.5rem;
  font-weight: 600;
  font-family: "Playwrite BE VLG", cursive;
}
.logo span {
  color: #ce1212;
}
.nav-links {
  gap: 2rem;
}
.nav-link {
  color: #3c3d3e;
  font-size: 1rem;
  font-weight: 500;
  position: relative;
}
.nav-link::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #ce1212;
  left: 0;
  bottom: -5px;
  transform-origin: left;
  transform: scaleX(0);
  transition: all 400ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.nav-link:hover {
  color: #010101;
}
.nav-link.active::before {
  color: #010101;
  transform: scaleX(1);
}
.nav-link.active {
  color: #010101;
}
.nav-link:hover::before {
  transform: scaleX(1);
}
.btn-container {
  gap: 1rem;
}
.nav-btn,
.btn {
  color: #fff;
  display: inline-block;
  font-size: 1rem;
  font-weight: 500;
  text-transform: capitalize;
  letter-spacing: 0.5px;
  padding: 0.75em 1.5em;
  border-radius: 2em;
  background-color: #ce1212;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 30px;
}
.nav-toggle {
  width: 30px;
  height: 30px;
  cursor: pointer;
  display: none;
}
.nav-toggle span,
.nav-toggle span::before,
.nav-toggle span::after {
  display: block;
  width: 28px;
  height: 2px;
  border-radius: 5px;
  background-color: black;
  position: relative;
}
.nav-toggle span::before,
.nav-toggle span::after {
  content: "";
  position: absolute;
  transition: all 400ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.nav-toggle span::before {
  top: -8px;
}
.nav-toggle span::after {
  top: 8px;
}
.nav-toggle.close span {
  visibility: hidden;
}
.nav-toggle.close span::before,
.nav-toggle.close span::after {
  visibility: visible;
  transform: translateY(8px) rotate(45deg);
}
.nav-toggle.close span::after {
  transform: translateY(-8px) rotate(-45deg);
}
@media screen and (max-width: 992px) {
  .nav-links-container {
    position: absolute;
    background-color: #fff;
    width: 400px;
    height: calc(100vh - 80px);
    top: 100%;
    right: 0;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 30px;
    transform-origin: right;
    transform: scaleX(0);
    transition: all 400ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  }
  .nav-links {
    all: unset;
    list-style-type: none;
  }
  .nav-links li {
    padding: 0.875rem 1.25rem;
    border-bottom: 1px solid #d0d0d0;
  }
  .nav-links .nav-link::before {
    display: none;
  }
  .show-links {
    transform: scaleX(1);
  }
  .nav-toggle {
    display: flex;
  }
}
@media screen and (max-width: 768px) {
  .nav-btn {
    display: none;
  }
}
